@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'M PLUS Rounded 1c', sans-serif;
	}
}

html {
	--toastify-color-light: #fff;
	--toastify-text-color-light: #757575;
}

html:is(.dark) {
	--toastify-color-light: #121212;
	--toastify-text-color-light: #fff;
}

button,
button:hover,
a[href],
a[href]:hover,
input {
	outline: none;
	color: inherit;
}

@keyframes expandy {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(100%);
	}
}

body::-webkit-scrollbar {
	display: none;
}

.custom-scroll *::-webkit-scrollbar {
	width: 5px;
	height: 0;
}

.custom-scroll *::-webkit-scrollbar-thumb {
	background-color: rgb(238 166 70 / 30%);
	border-radius: 200px;
}

.dark .custom-scroll *::-webkit-scrollbar-thumb {
	background-color: rgb(0 0 0 / 30%);
}

.react-datepicker-wrapper input {
	background-color: hsl(
		var(--nextui-default-100) /
			var(--nextui-default-100-opacity, var(--tw-bg-opacity))
	) !important;
}

input.react-datepicker-time__input {
	padding: 0 8px;
	border-radius: 4px;
}

.dark input.react-datepicker-time__input {
	color: #ffffffeb;
}
